{% extends 'core/base.html' %} 

{% block title %}Delete post{% endblock %}

{% block content %} 

<div class="container-fluid bg-dark text-white text-center">
    <div class="my-0 py-5 display-6">
        Delete post
    </div>
    <div class="py-3 h3">
        {{ post.title }}
    </div>
</div>

<div class="container">
    <div class="text-center">
        <hr>
        <p class="h4 text-muted">This action cannot be undone</p>
        <hr>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col mx-3">
                <a href="{% url 'core:detail' post.id %}" class="form-control btn btn-secondary text-white">Cancel</a>
            </div>
            <button type="submit" class="col mx-3 form-control btn btn-danger text-white">Confirm</button>
        </div>
    </form>
</div>

{% endblock %}