{% extends 'core/base.html' %} 

{% block title %}Log In{% endblock %}

{% block content %} 

<div class="">
    <div class="container-fluid bg-dark text-white row py-lg-5 mb-4">
        <div class="my-5 text-center bg-dark display-3">
            Login
        </div>
    </div>
    <div class="container form my-2">
        <form action="" method="post" class="">{% csrf_token %}
            <label for="username" class="label form-control">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </label>
            <label for="password" class="label form-control">
                <input type="password" name="password" id="" class="form-control" placeholder="Password">
            </label>
            <div class="form-control btn btn-warning">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

